body {
  background-color: #111;
  color: #eee;
}

.footer {
  background-color: #222;
  color: #999;
}

.page-header {
  border-color: #666;
}

.panel {
  background-color: transparent;
  color: #ddd;
}

.panel-default {
  border-color: #666;
}

.well {
  background-color: #222;
  color: #bbb;
  border-color: #555;
}

.list-group-item {
  background-color: transparent;
  border-color: #666;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  background-color: #222;
  color: #666;
}

a.list-group-item {
  color: #bbb;
}

a.list-group-item:hover {
  color: #fff;
  background-color: #333;
}

.btn-default {
  background-color: #424242;
  color: #fff;
  border: none;
}

.btn-default:hover {
  background-color: #333;
  color: #ddd;
  border: none;
}

.thumbnail {
  background-color: #222;
  border-color: #333;
}

.character-thumbnail:hover {
  background-color: #444;
  border-color: #555;
  box-shadow: none;
}

.thumbnail .caption {
  color: #ddd;
}

.character-thumbnail:hover .caption {
  color: #eee;
}

blockquote {
  color: #bbb;
  border-color: #555;
}

.btn-primary,
.label-primary,
.badge.badge-primary {
  background-color: #008cba;
  border-color: #0079a1;
}

.btn-success,
.label-success {
  background-color: #43ac6a;
  border-color: #3c9a5f;
}

.btn-danger,
.label-danger {
  background-color: #f04124;
  border-color: #ea2f10;
}