<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for quote in site.quotes %}
    <li data-target="#carousel-example-generic" data-slide-to="{{forloop.index0}}" {% if forloop.index0 == 0 %}class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for quote in site.quotes %}
    <div class="item {% if forloop.index0 == 0 %}active{% endif %}">
      <img src="{{site.github.url}}/images/parchment-thin.jpg" class="img-responsive">
      <div class="carousel-caption">
        <div class="carousel-quote">
          <p class="quote">{{quote.content}}</p>
          <p class="source">{{quote.source}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
